<section class="meetings cf">

  <form class="formgroup addmeeting cf"
    name="myform"
    ng-submit="addMeeting()"
    novalidate>
    
    <div class="iconwrapper">
  <p>{{info.age}}</p>
  <p>{{info.gender}}</p>
  <p>{{info.experience}}</p>
    <div class="individualwrapper" ng-repeat="n in [] | range:8">
      
       <div style="position:relative;"class="iconimage{{$index + 1}}">
       <p style="position:absolute; top:260px; left:125px; font-size:125%;">{{$index + 1}}</p>
       </div>
       
       <div class="icontext">
        <p>Imagine that you are in a health care facility.</p> 
        <p>Exactly what do you think this symbol means?</p>
         <textarea type="text" name="interpretation_1"
        ng-attr-name="interpretation{{$index + 1}}" ng-model="interpretation[$index+1]" ng-required="true"></textarea>
         <p>If you were a patient, how would this symbol apply to you?</p>
          <textarea type="text" name="action{{$index + 1}}" ng-model="actions[$index+1]" ng-required="true"></textarea>  
      </div>
      </div>   
      <p>Were there any symbols that you found confusing? If so, why?</p>
          <textarea type="text" name="action{{$index + 1}}" ng-model="actions[$index+1]" ng-required="true"></textarea>       
    </div>

    <button type="submit" class="btn" 
      ng-disabled="myform.$invalid">Submit</button>
  </form>


</section>


<script>
$(document).ready(function(){  

});
</script>